<template>
    <div class="container justify-content-center">
        <nav class="navbar navbar-expand bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <router-link to="/home" class="nav-link">Home</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/create" class="nav-link">Create</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/index" class="nav-link">Data</router-link>
                </li>
            </ul>
        </nav>
        <br>
        <transition name="fade">
            <router-view></router-view>
        </transition>   
    </div>
    
</template>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .3s
    }
    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>

<script>
    export default{
    }
</script>