<template>
    <div>
        <h1>Edit</h1>
        <form v-on:submit.prevent="updatePr">
            
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" v-model="pr.pr_name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Age:</label>
                        <input type="text" class="form-control" v-model="pr.pr_age">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Position:</label>
                        <input type="text" class="form-control" v-model="pr.pr_position">
                    </div>
                </div>
            </div>

            <br>

            <div class="form-group">
                <router-link to="/index" class="btn btn-outline-success">Return</router-link>
                <button class="btn btn-primary">Update</button>
            </div>

        </form>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                pr: {}
            }
        },
        created() {
            let uri = `/api/pr/edit/${this.$route.params.pr_id}`;
            this.axios.get(uri).then(response => {
                this.pr = response.data;
            });
        },
        methods: {
            updatePr() {
                if(confirm("Are you sure?")) {
                    let uri = `/api/pr/update/${this.$route.params.pr_id}`;
                    this.axios.post(uri, this.pr).then(response => {
                        this.$router.push({name: 'index'});
                    });
                }
            }
        }
    }
</script>