<template>
    <div>
        <h1 style="text-align: center">TEST VUE.JS LARAVEL CRUD - DŨNG_NV</h1>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Search:</label>
                    <input type="text" class="form-control" v-model="keyword" v-on:keyup="search()">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-right">
                <router-link :to="{ name: 'create' }" class="btn btn-outline-primary">Create</router-link>
            </div>
        </div>

        <br>

        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>AGE</th>
                    <th>POSITION</th>
                    <th>OPTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="pr in prs" :key="pr.pr_id">
                    <th>{{ pr.pr_id }}</th>
                    <td>{{ pr.pr_name }}</td>
                    <td>{{ pr.pr_age }}</td>
                    <td>{{ pr.pr_position }}</td>
                    <td>
                        <router-link :to="{name: 'edit', params: { pr_id: pr.pr_id }}" class="btn btn-outline-warning">Edit</router-link>
                        <button class="btn btn-outline-danger" v-on:click.prevent="deletePr(pr.pr_id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                prs: [],
                keyword: null,
            }
        },
        created(){
            let uri = '/api/pr/index';
            this.axios.get(uri).then(response => {
                this.prs = response.data.data;
            });
        },
        methods: {
            deletePr(pr_id)
            {   
                if(confirm("Are you sure?"))
                {
                    let uri = `/api/pr/delete/${pr_id}`;
                    this.axios.delete(uri).then(response => {
                        this.prs.splice(this.prs.indexOf(pr_id), 1);
                    });
                }
            },
            search() {
                let uri = `/api/pr/search`
                this.axios.get(uri, {
                    params: { kw: this.keyword }
                }).then(response => {
                    this.prs = response.data;   
                });
            }
        }
    }
</script>
